<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Location</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <form [formGroup]='locationForm'>
            <ion-item>
                <ion-label floating>Location</ion-label>
                <ion-input
                    formControlName='locationName'
                    type="text" clearInput autocomplete="true">
                        {{ location.locationName }}
                </ion-input>
            </ion-item>

            <ion-item *ngIf="!locationForm.controls.locationName.valid  &&
                (locationForm.controls.locationName.dirty || submitAttempt)">
                <p>Please enter a valid location.</p>
            </ion-item>
        </form>
        <ion-item>
            <ion-buttons start>
                <button ion-button (click)="dismiss()">
                    <span ion-text color='textOnPrimary'>Cancel</span>
                </button>
                <button ion-button (click)="save()" [disabled]="!locationForm.valid">
                    <span ion-text color='textOnPrimary'>Save</span>
                </button>
            </ion-buttons>
        </ion-item>
    </ion-list>
</ion-content>
