<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Location</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <form [formGroup]='locationForm'>
            <ion-item>
                <ion-label position="floating">Location</ion-label>
                <ion-input
                    formControlName='locationName'
                    type="text" clearInput autocomplete="true"
                    value="{{ location.locationName }}">
                </ion-input>
            </ion-item>

            <ion-item *ngIf="!locationForm.controls.locationName.valid  &&
                (locationForm.controls.locationName.dirty || submitAttempt)">
                <label>Please enter a valid location.</label>
            </ion-item>
        </form>
        <ion-toolbar>
            <ion-buttons slot="secondary">
                <ion-button (click)="dismiss()">
                    <ion-text>
                        <span color='textOnPrimary'>Cancel</span>
                    </ion-text>
                </ion-button>
                <ion-button (click)="save()" [disabled]="!locationForm.valid">
                    <ion-text>
                        <span color='textOnPrimary'>Save</span>
                    </ion-text>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-list>
</ion-content>
