<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Fitness Classes</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list *ngIf="isAdmin" class="padding">
        <ion-item>
            <ion-label>From:</ion-label>
            <ion-datetime displayFormat="DD MMM DDD, YYYY" max="2100" [(ngModel)]="fromDate"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>To:</ion-label>
            <ion-datetime displayFormat="DD MMM DDD, YYYY" max="2100" [(ngModel)]="toDate"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Include Cancelled</ion-label>
            <ion-checkbox (click)="toggleShowCancelled()"checked={{includeCancelled}}></ion-checkbox>
            <button ion-button item-end (click)="search()">Search</button>
            <button ion-button item-end (click)="clearSearch()">Clear</button>
        </ion-item>
    </ion-list>

    <ion-grid *ngIf="(fitnessClasses | async)?.length==0">
        <ion-row class="noData">
            <ion-col>
                <h1>No fitness class are currently available</h1>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let fitnessClass of fitnessClasses | async" col-12 col-md-6 col-lg-6>
                <ion-card>
                    <ion-card-header [color]="!fitnessClass.cancelled ? 'secondaryDark' : 'greyInactive'">
                        {{ fitnessClass.fitnessClassName }}
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list>
                            <h2>{{ fitnessClass.description }}</h2>
                            <ion-item>
                                <ion-label>
                                    <p>Date: {{ fitnessClass.dateOfClass | date }}</p>
                                </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <p>Start time: {{ fitnessClass.startTime }} to {{ fitnessClass.endTime }}</p>
                                </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <p>Instructor: {{ fitnessClass.instructor }}</p>
                                </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <p>Location: {{ fitnessClass.location }}</p>
                                </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <p>Remaining Capacity: {{ fitnessClass.remainingCapacity }}</p>
                                </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <p>Capacity: {{ fitnessClass.capacity }}</p>
                                </ion-label>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                    <ion-item [color]="!fitnessClass.cancelled ? 'secondaryDark' : 'greyInactive'">
                        <button ion-button icon-left clear item-end
                            (click)="cancel(fitnessClass)"
                            *ngIf="(isAdmin && !fitnessClass.cancelled &&
                                (fitnessClass.dateOfClass >= currentDate ||
                                (fitnessClass.dateOfClass <= currentDate && !fitnessClass.hasRegistrations) ))">
                            <ion-icon name="trash"></ion-icon>
                            Cancel
                        </button>
                        <button ion-button icon-left clear item-end
                            (click)="openEditModal(fitnessClass)" *ngIf="(isAdmin && !fitnessClass.hasRegistrations)">
                            <ion-icon name="cog"></ion-icon>
                            Edit
                        </button>
                        <button ion-button icon-left clear item-end
                            (click)="openCopyModal(fitnessClass)" *ngIf="isAdmin">
                            <ion-icon name="copy"></ion-icon>
                            Copy
                        </button>
                        <button ion-button icon-left clear item-end
                            (click)="openRegistrationList(fitnessClass)"
                            *ngIf="(isAdmin && fitnessClass.hasRegistrations)">
                            <ion-icon name="eye"></ion-icon>
                            View Registrations
                        </button>
                        <button ion-button icon-left clear item-end
                            (click)="registerForClass(fitnessClass)"
                            *ngIf="(fitnessClass.remainingCapacity > 0 && fitnessClass.dateOfClass >= currentDate && !fitnessClass.cancelled)">
                            <ion-icon name="clipboard"></ion-icon>
                            Register
                        </button>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
