<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{ fitnessClassTemplateTitle }}</ion-title>
    </ion-toolbar>
</ion-header>

    <ion-content padding>
        <ion-list>
            <form [formGroup]='fitnessClassTemplateForm'>
                <ion-item>
                    <ion-label position="stacked">Fitness Class</ion-label>
                    <ion-input type="text"
                        formControlName="fitnessClassName"
                        placeholder="Please Select a Fitness Class"
                        value="{{ fitnessClassTemplate.fitnessClassName }}">
                    </ion-input>
                </ion-item>
                <ion-item *ngIf="!fitnessClassTemplateForm.controls.fitnessClassName.valid &&
                    (fitnessClassTemplateForm.controls.fitnessClassName.dirty || submitAttempt)">
                    <p>Please enter a valid fitness class name.</p>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked">Instructor</ion-label>
                    <ion-select interface="popover"
                        formControlName="instructor"
                        placeholder="Please Select an Instructor">
                        <ion-select-option *ngFor="let instructor of instructors | async"
                            value="{{ instructor.instructorFirstName }} {{ instructor.instructorLastName }}">
                            {{ instructor.instructorFirstName }} {{ instructor.instructorLastName }}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item *ngIf="!fitnessClassTemplateForm.controls.instructor.valid &&
                    (fitnessClassTemplateForm.controls.instructor.dirty || submitAttempt)">
                    <ion-label>Please enter a valid instructor.</ion-label>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked">Location</ion-label>
                    <ion-select interface="popover"
                        formControlName="location"
                        placeholder="Please Select a Location">
                        <ion-select-option *ngFor="let location of locations | async"
                            value="{{ location.locationName }}">
                            {{ location.locationName }}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item *ngIf="!fitnessClassTemplateForm.controls.location.valid &&
                    (fitnessClassTemplateForm.controls.location.dirty || submitAttempt)">
                    <p>Please enter a valid location.</p>
                </ion-item>

                <ion-item>
                    <ion-label>Start Time</ion-label>
                    <ion-datetime
                        formControlName="startTime"
                        displayFormat="h:mm A"
                        placeholder="{{ fitnessClassTemplate.startTime }}"
                        minuteValues="0,15,30,45">
                    </ion-datetime>
                </ion-item>
                <ion-item *ngIf="!fitnessClassTemplateForm.controls.startTime.valid &&
                    (fitnessClassTemplateForm.controls.startTime.dirty || submitAttempt)">
                    <ion-label>Please enter a valid start time.</ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>End Time</ion-label>
                    <ion-datetime
                        formControlName="endTime"
                        displayFormat="h:mm A"
                        placeholder="{{ fitnessClassTemplate.endTime }}"
                        minuteValues="0,15,30,45">
                    </ion-datetime>
                </ion-item>
                <ion-item *ngIf="!fitnessClassTemplateForm.controls.endTime.valid &&
                    (fitnessClassTemplateForm.controls.endTime.dirty || submitAttempt)">
                    <ion-label>Please enter a valid end time.</ion-label>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Capacity</ion-label>
                    <ion-input
                        type="number"
                        formControlName="capacity"
                        value="{{ fitnessClassTemplate.capacity }}">
                    </ion-input>
                </ion-item>
                <ion-item *ngIf="!fitnessClassTemplateForm.controls.capacity.valid &&
                    (fitnessClassTemplateForm.controls.capacity.dirty || submitAttempt)">
                    <ion-label>Please enter a valid capacity.</ion-label>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Description</ion-label>
                    <ion-textarea
                        formControlName="description"
                        rows="10" type="textarea" autocomplete="true"
                        value="{{ fitnessClassTemplate.description }}">
                    </ion-textarea>
                </ion-item>
                <ion-item *ngIf="!fitnessClassTemplateForm.controls.description.valid &&
                    (fitnessClassTemplateForm.controls.description.dirty || submitAttempt)">
                    <ion-label>Please enter a valid description.</ion-label>
                </ion-item>
            </form>
            <ion-item>
                <ion-buttons slot="secondary">
                    <ion-button (click)="dismiss()">
                        <ion-text>
                            <span color='textOnPrimary'>Cancel</span>
                        </ion-text>
                    </ion-button>
                    <ion-button (click)="save()" [disabled]="!fitnessClassTemplateForm.valid">
                        <ion-text>
                            <span color='textOnPrimary'>Save</span>
                        </ion-text>
                    </ion-button>
                </ion-buttons>
            </ion-item>
        </ion-list>
    </ion-content>
