<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-icon class="myfit-logo"></ion-icon>
                <ion-title>MyFit</ion-title>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label floating>E-mail</ion-label>
                    <ion-input type="text" [(ngModel)]="loginData.email" clearInput></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating>Password</ion-label>
                    <ion-input type="password" [(ngModel)]="loginData.password" clearInput></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button (click)="login()" [disabled]="!loginData.email || !loginData.password">
                    SIGN IN
                </button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button clear color="secondary" (click)="signup()">Register</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button clear (click)="resetPassword()">Forgot Password?</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
