<ion-header>
    <ion-navbar color="primary">
        <ion-title>CHANGE PASSWORD</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating>New Password</ion-label>
                    <ion-input type="password" [(ngModel)]="changePasswordData.newPassword" clearInput></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating>Retype New Password</ion-label>
                    <ion-input type="password" [(ngModel)]="changePasswordData.retypeNewPassword" clearInput></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating>Old Password</ion-label>
                    <ion-input type="password" [(ngModel)]="changePasswordData.oldPassword" clearInput></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button
                    (click)="changePassword()"
                    [disabled]="!changePasswordData.newPassword || !changePasswordData.retypeNewPassword || !changePasswordData.oldPassword">
                    CHANGE PASSWORD
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
