// http://ionicframework.com/docs/theming/

//Includes
@import "../theme/buttons";

//Modal Styling
.modal-wrapper {
    .toolbar-title {
        color: map-get($colors, textOnSecondary);
    }
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-title {
    font-size: 1.8rem;
    text-align: center;
    color:  map-get($colors, textOnPrimary);
}

.item-md-greyInactive, .item-divider-md-greyInactive{
    color: map-get($colors, textOnPrimary);
    font-weight: bold;
}

.sideMenuIcon{
    color: map-get($colors, grey);
    padding-right: 3.0rem;
    padding-bottom: 0.6rem;
}

.card-header, .card-header-md{
    font-size: 2.0rem;
}

.smallModal .modal-wrapper{
    position: absolute;
    overflow: hidden;
    max-width: 330px;
    border-radius: 10px;
    width: 90vw;
    height: 50vh !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    box-shadow: 0 16px 20px rgba(0,0,0,.4);
    background-color: #fafafa;
}

.largeModal .modal-wrapper{
    position: absolute;
    overflow: hidden;
    max-width: 620px;
    border-radius: 10px;
    width: 90vw;
    height: 75vh !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    box-shadow: 0 16px 20px rgba(0,0,0,.4);
    background-color: #fafafa;
}

.noData{
    display: flex;
    align-self: center;
}

.scroll-content {
    overflow: auto;
}

.userInfoText{
    font-weight: bold;
    font-size: 1.5rem;
}
