//Button styling

button[ion-button].button, button[ion-button].bar-button {
    background-color: var(--ion-color-secondary);

    &:hover:not(.disable-hover) {
        background-color: var(--ion-color-secondary);

        ion-icon {
            color: var(--ion-color-secondary);
        }
    }

    &[clear] {
        background-color: transparent;
        padding: 0 6px;
        text-transform: capitalize;
        font-weight: normal;

        &:hover {
            background-color: transparent;
        }
    }
}
