<ion-app>
    <ion-split-pane>
        <ion-menu menuId="{{ adminId }}" side="start" contentId="content">
            <ion-header>
                <ion-toolbar color="primary">
                    <ion-title>MyFit</ion-title>
                </ion-toolbar>
            </ion-header>

            <ion-content>
                <ion-list>
                    <ion-item>
                        <ion-button fill="clear" (click)="presentAccountPopover($event)">
                            <ion-text>
                                <span class='userInfoText' color='textOnPrimary'>
                                    Account: {{ authService.user.value?.displayName }}
                                </span>
                            </ion-text>
                        </ion-button>
                    </ion-item>
                    <ion-item>
                        <ion-item menuClose *ngFor="let adminPage of adminPages"
                            (click)="openPage(adminPage.component)">
                            <ion-icon class="sideMenuIcon" name="{{adminPage.icon}}"></ion-icon>
                            <ion-label>{{adminPage.title}}</ion-label>
                        </ion-item>
                    </ion-item>
                </ion-list>
            </ion-content>
            <ion-footer>
                <ion-toolbar color='headerGrey'>
                    <ion-item (click)="signOut()" color='headerGrey'>
                        <ion-icon name="power" class="sideMenuIcon"></ion-icon>
                        <ion-label>Logout</ion-label>
                    </ion-item>
                </ion-toolbar>
            </ion-footer>
        </ion-menu>

        <ion-menu menuId="{{ nonAdminId }}" side="start" contentId="content">
            <ion-header>
                <ion-toolbar color="primary">
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>

            <ion-content>
                <ion-list>
                    <ion-item>
                        <ion-button fill="clear" (click)="presentAccountPopover($event)">
                            <ion-text>
                                <span class='userInfoText' color='textOnPrimary'>
                                    Account: {{ authService.user.value?.displayName }}
                                </span>
                            </ion-text>
                        </ion-button>
                    </ion-item>
                    <ion-item>
                        <ion-item menuClose *ngFor="let nonAdminPage of nonAdminPages"
                            (click)="openPage(nonAdminPage.component)">
                            <ion-icon class="sideMenuIcon" name="{{nonAdminPage.icon}}"></ion-icon>
                            <ion-label>{{nonAdminPage.title}}</ion-label>
                        </ion-item>
                    </ion-item>
                </ion-list>
            </ion-content>

            <ion-footer>
                <ion-toolbar color='headerGrey'>
                    <ion-item (click)="signOut()" color='headerGrey'>
                        <ion-icon name="power" class="sideMenuIcon"></ion-icon>
                        <ion-label> Logout</ion-label>
                    </ion-item>
                </ion-toolbar>
            </ion-footer>
        </ion-menu>
        <ion-router-outlet id='content' main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
