<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid no-padding>
        <ion-row>
            <ion-col col-1>
                <button ion-button icon-only clear (click)="prevMonthClicked($event)">
                    <ion-icon color="grey" name="ios-arrow-back"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-10>
                <ion-title class="calendar-title">{{viewTitle}}</ion-title>
            </ion-col>
            <ion-col col-1>
                <button ion-button icon-only clear float-right (click)="nextMonthClicked($event)">
                    <ion-icon color="grey" name="ios-arrow-forward"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <calendar
                    [eventSource]="eventSource"
                    [calendarMode]="calendar.mode"
                    [currentDate]="calendar.currentDate"
                    [monthviewEventDetailTemplate]="CardTemplate"
                    [noEventsLabel]="'No fitness classes on this day'"
                    (onCurrentDateChanged)="onCurrentDateChanged($event)"
                    (onTitleChanged)="onViewTitleChanged($event)"
                    class="calendar"
                >
                </calendar>
            </ion-col>
        </ion-row>
        <ng-template #CardTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
            <ion-grid>
                <ion-row [class]="selectedDate?.events.length > 0 ? 'row' : 'row noData' ">
                    <ion-col *ngFor="let fitnessClass of selectedDate?.events" col-12 col-md-6 col-lg-6><!-- add (click)=eventSelected(event) to have click event handlers -->
                        <ion-card text-wrap class="fitness-class-card">
                            <ion-card-header>
                                <ion-list>
                                    <ion-item no-padding>
                                        <p>{{ fitnessClass.dateOfClass | date:'longDate' }}</p>
                                        <button class="header-more" ion-button item-end icon-only clear large (click)="showMoreOptions($event, fitnessClass)">
                                            <ion-icon no-padding color="grey" name="ios-more"></ion-icon>
                                        </button>
                                    </ion-item>
                                    <ion-item no-padding>
                                        <h1>{{ fitnessClass.fitnessClassName }}</h1>
                                    </ion-item>
                                    <ion-item no-padding *ngIf="fitnessClass.cancelled">
                                        <p class="cancelled">Cancelled</p>
                                    </ion-item>
                                </ion-list>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-label>
                                    <p>Start time: {{ fitnessClass.startTime | date:'h:mm a' }} to {{ fitnessClass.endTime | date:'h:mm a' }}</p>
                                    <p>Instructor: {{ fitnessClass.instructor }}</p>
                                    <p>Location: {{ fitnessClass.location }}</p>
                                    <p>Capacity: {{ fitnessClass.capacity - fitnessClass.remainingCapacity }}/{{ fitnessClass.capacity }}</p>
                                </ion-label>
                                <ion-label>
                                    <p>{{ fitnessClass.description }}</p>
                                </ion-label>
                            </ion-card-content>
                            <ion-item>
                                <button ion-button icon-left clear item-end default color="secondary"
                                        [disabled]="!fitnessClass.hasRegistrations"
                                        (click)="openRegistrationList(fitnessClass)"
                                >
                                    <ion-icon color="secondary" name="md-people"></ion-icon>
                                    Attendees
                                </button>
                                <button ion-button icon-left clear item-end default color="secondary"
                                        [disabled]="fitnessClass.remainingCapacity == 0"
                                        (click)="registerForClass(fitnessClass)"
                                >
                                    <ion-icon color="secondary" name="md-add"></ion-icon>
                                    Attend
                                </button>
                            </ion-item>
                        </ion-card>
                    </ion-col>
                    <ion-col *ngIf="selectedDate?.events.length == 0">
                        <h3>{{noEventsLabel}}</h3>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ng-template>
    </ion-grid>
    <ion-fab right bottom *ngIf="isAdmin">
        <button ion-fab mini (click)="openAddModal()" color='secondary'>
            <ion-icon name="md-add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>>
