<ion-header>
    <ion-navbar color="primary">
        <ion-title>CHANGE DISPLAY NAME</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating>New Display Name</ion-label>
                    <ion-input type="text" [(ngModel)]="changeDisplayNameData.newDisplayName" clearInput></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating>Password</ion-label>
                    <ion-input type="password" [(ngModel)]="changeDisplayNameData.password" clearInput></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button
                    (click)="changeDisplayName()"
                    [disabled]="!changeDisplayNameData.newDisplayName || !changeDisplayNameData.password">
                    CHANGE DISPLAY NAME
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
