<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Fitness Class Type</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <form [formGroup]='fitnessClassTypeForm'>
            <ion-item>
                <ion-label floating>Fitness Class Type</ion-label>
                <ion-input
                    formControlName='fitnessClassTypeName'
                    type="text" clearInput autocomplete="true">
                        {{ fitnessClassType.fitnessClassTypeName }}
                </ion-input>
            </ion-item>

            <ion-item *ngIf="!fitnessClassTypeForm.controls.fitnessClassTypeName.valid  &&
                (fitnessClassTypeForm.controls.fitnessClassTypeName.dirty || submitAttempt)">
                <p>Please enter a valid fitness class name.</p>
            </ion-item>
        </form>
        <ion-item>
            <ion-buttons start>
                <button ion-button (click)="dismiss()">
                    <span ion-text color='textOnPrimary'>Cancel</span>
                </button>
                <button ion-button (click)="save()" [disabled]="!fitnessClassTypeForm.valid">
                    <span ion-text color='textOnPrimary'>Save</span>
                </button>
            </ion-buttons>
        </ion-item>
    </ion-list>
</ion-content>
