<ion-header>
    <ion-toolbar color="primary">
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="isAdmin">
    <ion-list lines='none'>
        <ion-item>
            <ion-label class="date-title">Apply Date Range</ion-label>
        </ion-item>

        <ion-item>
            <ion-label>From:</ion-label>
            <ion-datetime class="date-input inline"
                displayFormat="MMM DD YYYY"
                [(ngModel)]="fromDate">
            </ion-datetime>
            <ion-label>To:</ion-label>
            <ion-datetime class="date-input inline"
                displayFormat="MMM DD YYYY"
                [(ngModel)]="toDate">
            </ion-datetime>
            <ion-buttons slot='end'>
                <ion-button (click)="search()">Apply</ion-button>
                <ion-button (click)="clearSearch()">Clear</ion-button>
            </ion-buttons>
        </ion-item>
    </ion-list>
    <ion-row *ngIf="showDateRangeHeader" class="date-range-header" text-center>
        <ion-label>{{ fromDate | date:'fullDate'}} - {{ toDate | date:'fullDate'}}</ion-label>
    </ion-row>
    <ion-grid *ngIf="(list)?.length==0">
        <ion-row class="noData">
            <ion-col>
                <h1>No attendees to display at this time</h1>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row *ngFor="let item of listOfClassAttendees">
            <ion-col class="class-row" size="12">
                <ion-label class="class-name">{{ item.fitnessClassName }} </ion-label>
                <ion-label class="class-date"> {{ item.dateOfClass | date:'longDate' }} {{ item.startTime }}-{{ item.endTime }} </ion-label>
            </ion-col>
            <ion-col class="attendee-row" *ngFor="let attendee of item.listOfAttendees" size="12">
                <ion-item>
                    <label class="display-name">{{ attendee.displayName }}</label>
                    <ion-button fill='clear' slot='end' class="not-attending-confirmed" *ngIf="!attendee.attended">Did Not Attend</ion-button>
                    <ion-button fill='clear' slot='end' class="not-attending-attended" *ngIf="!attendee.attended">Attended</ion-button>
                    <ion-button fill='clear' slot='end' class="attending-not" *ngIf="attendee.attended">Did Not Attend</ion-button>
                    <ion-button fill='clear' slot='end' class="attending-confirmed" *ngIf="attendee.attended">Attended</ion-button>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-fab slot="fixed" right vertical="bottom" *ngIf="isAdmin">
        <ion-fab-button mini (click)="exportToCSV()" color='secondary'>
            <ion-icon name="md-download"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
